/* Your styles go here */
button{
	border: 2px solid black;
	padding: 30px;
	font-size: 40px;
	text-align: center;
}

.box{
	display: inline-block;
	width:100px;
	height: 100px;
	padding: 50px;
	margin:30px;
	border: 5px solid purple;
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
	color: purple;

	
}
.change{
	background-color: purple;
	color: white;
}