
.container{
	width:100vw;
	height:25vw;
	margin-top:13vw;
	background-color: lightblue;
}
.logo{
	width:15vw;
	height:15vw;
	border-radius: 50%;
	margin-left:20vw;
	margin-top: 5vw;
	background-color: blue;
	float:left;
}
.name{
	position:absolute;
	font-size: 100px;
	font-family: sans-serif;
	color:white;
	width:30vw;
	margin-top:5vw;
	margin-left:40vw;
}

