.header{
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 4vw;
	padding:5%;
	background-image: linear-gradient(90deg, #F72424 30%, #FFEC00 42%, #89EF97 59%, #4336B4 73%, #00FFA1 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}
@keyframes rainbow {
	0% { 
		background-image: linear-gradient(90deg, #F72424 30%, #FFEC00 42%, #89EF97 59%, #4336B4 73%, #00FFA1 90%);
		color:red;
	} 
	20%{
		color: #FFEC00;
	}
	50% { 
		color: #89EF97; 
	} 
	70%{
		color: #4336B4;
	}
	100% { 
		background-image: linear-gradient(90deg, #F72424 30%, #FFEC00 42%, #89EF97 59%, #4336B4 73%, #00FFA1 90%); 
	}
}
.block1,.block2,.block3{
	display: flex;
	align-items: center;
	justify-content: center;
	width:70vw;
	height:30vw;
	margin-bottom: 25px;

}
.block1,.block3{
	margin-right: 0px;
    margin-left: auto;
}
.title-1, .title-2,.title-3{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:25vw;
	height:30vw;

}
.title-1, .title-3{
	margin-left: 10px;
    margin-right: auto;
    float:left;
}
.title-2{
	margin-right: 10px;
    margin-left: auto;
	float:right;
}
p{
	font-family: 'Abril Fatface', cursive;
	font-size:30px;
	
	
}
button{
	width:10vw;
	height:3vw;
	margin:20px;
	font-size: 15px;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

button:hover{
	animation: flash linear 2.5s infinite;;
}
img{
	width:20vw;
	height:30vw;
	margin:5px;
}
