homepage.css
body{
  background-color:#F3EDED;
}

h1{
  color:black;
  font-family: Marker Felt;
  text-align: center;
  width: 20%;
  margin-top: 50px;
  margin-right: auto;
  margin-left:auto;
  padding: 60px;
  border-width: 6.7px;
  border-style: double;
  border-radius: 50%;
  border-color: black;
  
}

h2{
  background-color:white;
  text-align: center;
  font-family: Marker Felt;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
hr{
  width:30%;
  border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
img {
    max-width: 1000px;
    max-height: 1000px;
}
p{
  text-align: center;
  font-size:25px;
  font-family: Marker Felt;
  padding: 10px;
}
a:link, a:visited{
  position: static;
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
}
a:hover, a:active{
  position: static;
  text-align:center;
  color: #AF1C1C;
  border-radius: 20%;
  font-size: 30px;
}
#footer{

  background-color: black;
  margin-right:20%;
  margin-left:20%;

}
