* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  display:block;
}

.tab {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
}

.tab:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
  
}
h3.first
{
  font-family: 'Courier';font-size: 35px;  
}
h3.second
{
  font-family: 'Arial';font-size: 25px;  
}
h3.third
{
  color:white;
  text-align:right;
  font-family: 'Comic Sans MS';font-size: 35px;  
}

p.first{
  font-family: 'Courier';font-size: 20px;
  width:50%;
  color:black;
}

}
p.second{
  font-family: 'Arial',;font-size: 20px;
  width:25%;
  color:gray;
  text-align: center;
}

p.third{
  font-family: 'Comic Sans MS';font-size: 20px;
  width:45%;
  color:white;
  float:right;
 
}

#style1 {
  background-color: #CBFEF4;

}
#style2 {
  background-color: #6FDCC6;
}
#style3 {
  background-color: #144239;
}