html { 
	height: 100%;
}

body {
	height: 200%;
	cursor: pointer;
}
.bgcolor {
	background: linear-gradient(-65deg, #ff0000, #3f0909, #281919, #740000);
	background-size: 200% 600%;
	-webkit-animation: Gradient 2s ease infinite;
	animation : Gradient 5s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
img{
	width: 98%;
}
.block1{
	background-color: black;
	width: 90%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.block2{
	background-color:black;
	width: 90%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.web{
	
	display: block;
	width: 50%;
	height: 60%;
	border: 3px dashed #A80101;
	margin: 40px;
}
.headline{
	color: white;
	font-family: Times New Roman;
	font-size: 50px;

}
.content{
	color: white;
	font-family: Times New Roman;
	width:50%;
	font-size: 30px;
}
.link{
	background-color: #3f0909;
	padding: 20px;
	color:white;
	font-family: Times New Roman;
	font-size: 30px;
	width: 40%;
}