/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
  z-index: -2;
}

/* Your CSS goes here */
.absolute{
	position:absolute;
}
.table{
	border-bottom: 85px solid black;
	border-left: 50px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 920px;
	bottom:0;
	top:80%%;
}
.book-top{
	width:140px;
	height:45px;
	transform: skewY(-20deg);
	top:83%;
	left:20%;
	border: 2px solid gray;
	background-color: lightgray;
	z-index:1;
}
.tleft{
	width:60px;
	height:45px;
	transform: skewY(20deg);
	top:85.75%;
	left:13.6%;
	border: 2px solid gray;
	background-color: lightgray;
	z-index: 2;
}
.book-middle{
	width: 200px;
	height: 50px;
	transform: skew;
	transform: rotate(-20deg);
	background-color: white;
	border: 2px solid lightgray;
	top:86%;
	left:13%;
	
}
.bsleft{

}
.orange{
	width:75px;
	height:45px;
	border-radius: 43%;
	background-color: orange;
	border: 4px solid #e85a2c;
	z-index:3;
}
.oone{
	top:85%;
	left:60%;
}
.otwo{
	top:88%;
	left:63%;
}
.othree{
	top:89%;
	left:50%;
}
.vase{
	width:80px;
	height:150px; 
	background-color: gray;
	opacity: 0.2;
	border: 8px dotted lightskyblue;
	top: 65%;
	left:45%;
	z-index:2;
}
.flower{
	width:30px;
	height:40px;
	border-radius: 50%;
	background-color: salmon;
	opacity: 0.5;
}
.one{
	top: 60%;
	left: 50%;
}
.two{
	top: 63%;
	left: 46%;
}
.three{
	top:58%;
	left:51%;
}
.four{
	top:55%;
	left:49%;
}
.five{
	top:62%;
	left:44%;
}




