html{
	background-color: black;
}

a{
	float:right;
	font-family: courier new;
	font-size: 50px;	
	color: white;
	padding: 20px;
}
a:link, a:visited{
  position: static;
  text-align:right;
  color: white;
  text-decoration: none;
  
}
a:hover, a:active{
  position: static;
}

img{
	padding-top:100px;
}