html{
	background-color: black;
}
.head{
	width:100%;
	text-align: right;
	padding-top:2vw;
}
a{
	font-size: 50px;
	margin-right:5vw;	
	color: white;
	font-family: 'Nosifer', cursive;

}
.homepage:link, .homepage:visited{
  position: static;
  
  text-decoration: none;
}
.homepage:hover, .homepage:active{
  position: static;
  font-size: 45px;
  animation: flash linear 1s infinite;
  text-decoration: line-through;
  font-style: italic;
}
.map{
	height:80vw;
}
.ttitle{
	color:red;
	font-size: 15px;
}
.ftitle{
	color:#4362FE;
	font-size: 15px;
}
.ltitle{
	color:green;
	font-size: 15px;
}


button{
	position:absolute;
	cursor:pointer;
	width:200px;
	height:120px;
	border-radius: 38.5%;
	font-size:25px;
	color:white;
	background-color: black;
	padding-bottom:30px;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
button:hover{
	border:none;
	font-size: 30px;
	animation: flash linear 2.5s infinite;
}

.thing{
	border: 3px solid red;
}
.feeling{
	border: 5px dotted #4362FE;
}
.life{
	border: 7px double green;
}


.clown{
	left:10vw;
	top: 14vw;
}
.insecure{
	left:40vw;
	top: 40vw;
}
.failure{
	left:10vw;
	top: 40vw;
}
.forgot{
	right:18vw;
	top: 14vw;
}
.ghost{
	right:33vw;
	top: 28vw;
}
.lost{
	left:40vw;
	top: 14vw;
}
.judge{
	left:25vw;
	top: 28vw;
}
.height{
	left:25vw;
	top: 55vw;
}
.authority{
	right:18vw;
	top:40vw;
}
.broke{
	right:33vw;
	top:55vw;
}
.bugs{
	right:18vw;
	top:70vw;
}
.change{
	left:10vw;
	top: 70vw;
}
.small{
	left:40vw;
	top:70vw;
}
